.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    letter-spacing: 0.05em;
    z-index: 1;
}

.header.on {
    background: #fff;
    transition: background 0.2s linear;
}


.header:hover {
    background: #fff;
}

.header h1 {
    width: 80px;
    font-size: 0;
}

.header .inner {
    line-height: 100px;
    display: flex;
    justify-content: space-between;
}

.header .gnb {
    display: flex;
    gap: 60px;

}

.header .gnb>li {
    position: relative;
}

.header .gnb>li>a {
    display: block;
    font-size: 20px;
    font-weight: 700;
}

.header .gnb>li:hover>a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #111;
}

.header .gnb>li>ul {
    position: absolute;
    top: 101px;
    left: -33px;
    width: 150px;
    text-align: center;
    line-height: 40px;
    background: #fff;

    opacity: 0;
}

.header .gnb>li:hover>ul {
    opacity: 1;
    transition: 0.5s;

}

.header .gnb>li .submenu a {
    display: block;
    padding: 0 0 5px 0;
    font-size: 15px;
    color: #222;
    z-index: 1;
}

.header .gnb>li .smenu {
    left: -50px;
}




.mainVisual .main_slide {
    z-index: -1;

}

.mainVisual .main_slide .itm {
    position: relative;
    width: 1550px;
    margin: 0 auto;
}

.mainVisual .main_slide .itm .txt {
    position: absolute;
    top: 250px;
    left: 200px;
    color: #333;
}

.mainVisual .main_slide .itm .txt strong {
    display: block;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 0.035em;
    margin: 0 0 40px 0;
}


.mainVisual .main_slide .itm .txt p {
    font-size: 23px;
    font-weight: 500;
}


.mainVisual .slide_arrow {
    position: absolute;
    bottom: 195px;
    left: 200px;
    font-size: 22px;
    cursor: pointer;
    color: rgb(59, 59, 59);
}

.mainVisual .slide_arrow i:first-child {
    transform: rotate(180deg);
    margin: 0 50px 0 0;
}

.mainMenu {
    padding: 100px 0;
}

.mainMenu .inner {
    position: relative;
    display: flex;
    gap: 60px;

}

.mainMenu .inner .left {
    width: 475px;
}

.mainMenu .inner .left h2 {
    font-size: 60px;
    font-weight: 700;
    color: #111;
}

.mainMenu .inner .left p {
    font-size: 24px;
    font-weight: 300;
    line-height: 35px;
    padding: 10px 0;

}

.mainMenu .inner .menu_slide {
    width: 1075px;
    margin: 0 -15px;
}

.mainMenu .inner .menu_slide .itm {
    margin: 0 15px;
}

.mainMenu .inner .menu_slide .itm img {
    margin: 0 0 30px 0;
}

.mainMenu .inner .menu_slide .itm p {
    font-size: 25px;
    font-weight: 500;
}

.mainMenu .inner .menu_num {
    position: absolute;
    bottom: 0;
    left: 35px;
    font-size: 30px;
    color: #ddd;

}

.mainMenu .inner .menu_num span {
    color: #111;
}

.mainMenu .inner .menu_arrow {
    position: absolute;
    bottom: 0;
    font-size: 30px;
    color: #333;
}

.mainMenu .inner .menu_arrow i {
    margin: 0 95px 0 0;
    vertical-align: middle;
    cursor: pointer;
}




.mainBanner {
    margin: 0 0 100px 0;
    height: 450px;
    background: url(../img/main/main-banner-bg.jpg) no-repeat fixed center center/cover;
}

.mainBanner .inner {
    text-align: center;
    color: #fff;
}

.mainBanner .inner .txt {
    padding: 100px 0;
}

.mainBanner .inner strong {
    display: block;
    font-size: 43px;
    font-weight: 900;
    letter-spacing: 0.045em;
    margin: 0 0 30px 0;
}

.mainBanner .inner p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 30px;

    margin: 0 0 70px 0;
}

.mainBanner .inner a {
    position: relative;
    font-size: 20px;
}

.mainBanner .inner a::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: #fff;
}

.mainInsta {
    padding: 0 0 150px 0;
}

.mainInsta h2 {
    font-size: 60px;
    font-weight: 700;
    color: #111;
    line-height: 1.25;
    padding: 0 0 30px 0;
}

.mainInsta p {
    font-size: 20px;
    letter-spacing: -0.025em;
    padding: 0 0 50px 0;
}

.mainInsta .f_inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.mainInsta .f_inner .pics {
    position: relative;
    cursor: pointer;
}

.mainInsta .f_inner .pics img {
    position: relative;
    width: 350px;
    height: 370px;
}

.mainInsta .f_inner .pics .text {
    position: absolute;
    top: 0;
    left: 0;

    padding: 60px 30px 120px;
    opacity: 0;


    color: #fff;
    text-align: center;
}

.mainInsta .f_inner .pics .text p {
    line-height: 30px;
    font-size: 18px;
}


.mainInsta .f_inner .pics:hover .text {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.mainInsta .f_inner .pics .t_center {
    padding: 120px 30px;
}



.footer {
    background: #222;
    color: #f1f1f1;
    height: 120px;
}

.footer .inner {
    display: flex;
    gap: 20px;
    padding: 51px 0;
}

.footer .inner p {
    display: inline-block;
    font-size: 17px;
    letter-spacing: 0.015em;
}

.footer .inner span {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    letter-spacing: 0.025em;
    color: #fff;
    opacity: 0.2;
}